<div class="row up-navbar">
  <div class="col-md-8">

    <strong>
      <%= link_to "/" do %>
        <%= image_tag("arrow.png", class: "up-logo") %> upvote  &nbsp;
      <% end %>
    </strong>

    <%= link_to "posts", posts_path %> |
    <%= link_to "submit", new_post_path %>

  </div>
  <div class="col-md-4 text-right">

    <% if current_user %>
      <%= current_user.email %> |
      <%= link_to "logout", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "sign up", new_user_registration_path %> |
      <%= link_to "login", new_user_session_path %>
    <% end %>
  </div>
</div>
