<div class="post">

  <div class="post-row">
    <div class="post-block">
      <%= index %>.
    </div>

    <div class="post-block">
    </div>

    <div class="post-block">
      <p class="post-primary">
        <%= link_to post.title, post.link %>
        <% if !post.host.blank? %>
          <span class="post-link">(<%= post.host %>)</span>
        <% end %>
      </p>

      <p class="post-secondary">
        0 points by <%= post.user.email %> <%= post.age %> |
        hide |
        <%= link_to "#{post.comments.count} #{"comment".pluralize(post.comments.count)}", post_comments_path(post) %>
      </p>
    </div>
  </div>

</div>
